@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary: #0B132B;
  --secondary: #5BC0BE;
  --muted: #8B9AAD;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero::after {
  --imageHeight: 346px;

  content: "";
  position: absolute;
  left: 0;
  top: calc(100% - var(--imageHeight));
  width: 100%;
  min-height: var(--imageHeight);
  background: url("/wave.svg") no-repeat;
  background-position: top;
  background-size: cover;
  pointer-events: none;
  z-index: 3;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/stars.svg") no-repeat;
  background-position: top;
  background-size: contain;
  pointer-events: none;
}

.curve { 
  position: relative;
}

.curve::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 48px;
  width: 230px;
  background: url("/curve.svg") no-repeat;
  /* Ensures the aspect ratio is maintained */
  background-size: contain;
  pointer-events: none;
  z-index: -1;
}

@layer base {
  :root {
    --background: 180 100% 95.9%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 225 59.3% 10.6%;
    --primary-foreground: 0 0% 98%;
    --secondary: 179 44.5% 55.5%;
    --secondary-foreground: 0 0% 9%;
    --muted: 214 17.2% 61.2%;
    --muted-foreground: 180 20.9% 56.9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 225 59.3% 10.6%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 214 17.2% 61.2%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  *, *::after, *::before {
    @apply border-border;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    @apply bg-background text-foreground;
  }
  a {
    @apply text-secondary;
  }
}

body[data-scroll-locked]{
  min-width: 100%;
}

/* Hide scrollbar while allowing scrolling */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
